body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.5;
  font-size: 100%;
  height: 100%;
}

.mobile-sub-menu {
  position: fixed;
  width: 100vw;
  top: -30rem;
  min-height: 25rem;
  max-height: 25rem;
  background: black;
  color: #b8b8bd; 
  font-family: 'Raleway', sans-serif;
  font-size: 1.44rem;
  text-align: center;
  padding: 2rem;
  z-index: 101;
  user-select: none;
}
.mobile-menu-button {
  width: 2rem;
}
.logo {
  width: 2.5rem;
}
.close {
  width: 1.5rem;
  margin-top: 6rem;
}
.list-view-items,
.list-view-items:hover,
.sub-menu-items,
.sub-menu-items:hover {
  align-self: center;
  text-decoration: none;
  color: #b8b8bd;
}

/* header */

.header-info {
  margin: 0 auto;
  align-items: center;
}

.thumbnail {
  width: calc(6.875rem + 5vw);
  border-radius: 50%;
  margin-bottom: 1.5rem;
  margin-top: 6rem;
}

.red,
.red:hover,
.blue,
.blue:hover,
.green,
.green:hover,
.orange,
.orange:hover,
.name-styles,
.white-header,
.about-me,
.edu-para {
  color: white;
}

.name-styles {
  margin-top: 2rem; 
  line-height: 1;
  font-family: 'Lato', sans-serif;
}
.job-styles {
  margin-bottom: 2rem;
  font-family: 'Lato', sans-serif;
}

.red,
.red:hover,
.blue,
.blue:hover,
.green,
.green:hover,
.orange,
.orange:hover {
  width: 16.5625rem;
  padding: 0.7rem 0rem;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
}
.red{
  background: #fb6470;
}
.blue {
  background: #32bec7;
}
.green {
  background: #55ff81;
}
.orange {
  background: #ffc26a;
}

.gulp {
  margin-top: 1.5rem; 
  width: 25px;
}

.pbn {
  margin: 0.2rem 0 0.7rem 0; 
}

/* mobile menu/nav */

.site-nav {
  padding: 1.25rem 1rem;
  position: fixed;
  width: 100%;
  z-index: 101;
  height: 5rem;
}
.icon-view {
  display: flex;
  justify-content: space-between;
}

.contact {
  width: 168px;
  align-self: center;
  align-items: center;
  color: #b8b8bd;
  font-family: 'Raleway', sans-serif;
}

/* type scale */

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {font-size: 2.074em;}

h3 {font-size: 1.728em;}

h4 {font-size: 1.44em;}

h5 {font-size: 1.2em;}

small, .text_small {font-size: 0.833em; color: #b8b8bd; font-family: 'Raleway', sans-serif;}

/* Skills Summary */

.skills {
  margin: 5rem 0rem; 
  align-items: center;
}

.skill-h3 {
  color: #9a9aa0;
  font-family: 'Lato', sans-serif;
}

.percent-circle {
  width: 14rem;
  margin: 1.5rem 0; 
}

/* Where to find me, Where to find me & Education*/

.find-me,
.experience,
.education {
  margin: 0 auto; 
}

.skills-header,
.find-header,
.exp-header,
.edu-header,
.get-in-touch {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 1.5rem 0; 
}

.about-me,
.exp-para,
.edu-para,
.info-para,
.skills-para {
  font-family: 'Montserrat', sans-serif;
  padding: 2rem 0 1.5rem 0;
  max-width: 25rem;
  text-align: center;
  margin: 0 auto;
}

.find-para {
  text-align: center;
}

.flex-item {
  width: 7rem;
  margin-bottom: 1.5rem; 
}

.find-img {
  display: block;
  margin: 0 auto;
  height: 5rem;
  width: 5rem;
}

.img-display-find {
  width: 90%;
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 2rem 0;
}

/* Card */

.work-img {
  max-width: 25rem;
  margin-bottom: 1.5rem;
}
.card-one,
.card-two,
.card-three,
.card-four {
  position: relative;
  width: 25rem;
  max-width: 25rem;
  user-select: none;
  margin: 0 auto;
}
.work-job,
.work-desc,
.work-para {
  position: absolute;
  color: #343434;
  font-family: 'Montserrat', sans-serif;
}
.work-job {
  top: 0.25rem;
  left: 1rem;
  font-family: 'Lato', sans-serif;
}
.work-desc {
  top: 2.35rem;
  left: 1rem;
}
.work-para {
  top: 4.25rem;
  left: 1rem;
  width: 23.5rem;
}

/* form */

.form-git {
  margin: 0 auto;
  width: 90%;
  max-width: 30rem;
}

label {
  margin: 1.5rem 0 0.7rem 1rem;
}

#name,
#email,
#message {
  border: 1px #9a9aa0 solid;
  border-radius: 0.25rem;
  height: 2.5rem;
}

#message {
  height: 8rem;
  margin-bottom: 1.5rem;
}

.submit-button {
  margin: 0 auto; 
  width: 15rem;
  height: 2.5rem;
  background: #fb6470;
  border-radius: 0.4rem;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.footer-para {
  margin-top: 0.3rem;
  text-align: center;
}

.footer-para-div {
  margin: 3.5rem 0 2rem 0;
}

/* UI */

.flex-column {
  display: flex;
  flex-direction: column;
}

.skills-large,
.list-view,
.large-port {
  display: none;
}

.bubble {
  width: 8rem;
  display: block;
  margin: 0 auto;
}

.grey-header {
  color: #9a9aa0;
}

.navy-back {
  background: #353541; 
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.align-center {
  text-align: center;
}

.grid-a {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem; 
  margin: 0 auto;
}

/* Media Query's */

@media(min-width: 600px) {
  .skills,
  .small-port {
    display: none;
  }

  .large-port {
    display: block;
  }

  .skills-large {
    display: flex;
    flex-direction: column;
  }

  .circle-info {
    margin: 0 auto;
    width: calc(17rem + 5vw);
    text-align: center;
  }

  .skills-para {
    width: 80%;
    max-width: 40rem;
    margin: 0 auto;
  }

  .skill-h3 {
    margin-bottom: 2rem;
  }

  .percent-circle {
    display: block;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .grid-a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .red,
  .red:hover,
  .blue,
  .blue:hover,
  .green,
  .green:hover,
  .orange,
  .orange:hover {
    width: 14rem;
    margin-bottom: 0;
  }
}

@media(min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .grid-a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }

  .grid-work {
    display: grid;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 0.5rem;
    justify-content: center;
    padding-bottom: 1.5rem; 
  }
  .work-img {
    margin-bottom: 0;
  }
  .card-two {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .card-three {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .card-four {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  .list-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
  }

  .icon-view,
  .mobile-sub-menu {
    display: none;
  }

  .red,
  .red:hover,
  .blue,
  .blue:hover,
  .green,
  .green:hover,
  .orange,
  .orange:hover {
    width: 12rem;
    margin-bottom: 0;
  }

  .circle-info {
    width: 15rem;
  }
}