.portfolio-container{
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio-card {
    display: block;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    overflow: hidden;
    width: 300px;
    box-shadow: 0rem 0rem 0.7rem darkgrey;
    margin: 0 auto;
    &:hover img {
        transform: scale(1.1);
    }

    div.card-image {
        width: 300px;
        height: 300px;
        overflow: hidden;
        position: relative;
    }
    img {
        transition: 0.3s;
    }

    h2, p {
        text-align: right;
    }

    h2 {
        margin-bottom: 0.5rem;
        font-size: 1.728rem;
    }
}

.portfolio-content {
    height: 7rem;
    // background-color: #75A190;
    // background: linear-gradient(145deg, #75A190, #2f6652);
    // background-color: grey;
    background-color: rgb(74, 74, 74);
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
    // justify-content: center;
}

.api-card-background {
    height: 100%;
    width: 100%;
    position: absolute;
    width: 300px;
    height: 300px;
    background: rgba(128, 128, 128, 0.50);
    top: 0;
    .api-card-text {
        font-size: 3rem;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: font-size 0.3s;
        color: white;
    }
    &:hover .api-card-text {
        font-size: 3.5rem;
    }
}

@media (min-width: 650px) {
    .portfolio-body-content h1 {
        text-align: left;
        margin-left: 1rem;
    }
}

@media (min-width: 700px) {
    .portfolio-container {
        .portfolio-card:nth-of-type(2n) {
            margin-left: 0;
        }
        .portfolio-card:nth-of-type(2n+1) {
            margin-right: 0;
        }
    }
}

@media (min-width: 956px) {
    .portfolio-container {
        .portfolio-card:nth-of-type(2n) {
            margin-left: auto;
        }
        .portfolio-card:nth-of-type(2n+1) {
            margin-right: auto;
        }
    }
}

// @media (min-width: 800px) {
//     .portfolio-container {
//         height: auto;
//         overflow: visible;
//         grid-template-columns: repeat(2, 1fr);
//     }
// }

// @media (min-width: 1200px) {
//     .portfolio-container {
//         grid-template-columns: repeat(3, 1fr);
//     }
// }