$white: #ffffff;
$black: #000000;
$dark-blue: #2c3e5b;
$light-grey: #f9f8f7;
$extra-grey: #afaead;
$grey: #8b8b8b;
$green: #798760;

header {
	position: relative;
	width: 100%;
	background: $dark-blue;
}

.flex {
	user-select: none;
	display: flex;
	z-index: 1;
	align-items: center;
	max-width: 1180px;
	margin: 0 auto;
}

.navigation-restraint {
	padding: 1rem 1rem;
}

.site-nav {
	position: absolute;
	width: 12rem;
	transition: left 0.4s ease-in-out;
	z-index: 1;
	height: 100vh;
	background-color: $dark-blue;
	left: -15rem;
	top: 0;
	padding-top: 93px;
}

/* Toggle Icon Styles and Animation */ 
.toggle-icon {
    opacity: 1;
    z-index: 1;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.toggle-icon span {
    display: block;
    width: 2.5rem;
    height: 0.3125rem;
    background-color: $orange;
    display: block;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}

.toggle-icon span:nth-of-type(1) {
    position: absolute;
    top: 0.25rem;
}

.toggle-icon span:nth-of-type(2) {
    position: absolute;
    top: 1.125rem;
}

.toggle-icon span:nth-of-type(3) {
    position: absolute;
    top: 2rem;
}

.toggle-icon.open span:nth-of-type(1) {
    position: absolute;
    top: 1.25rem;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.toggle-icon.open span:nth-of-type(2) {
    position: absolute;
    left: -1.25rem;
    opacity: 0;
}

.toggle-icon.open span:nth-of-type(3) {
    position: absolute;
    top: 1.25rem;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.logo {
	margin-right: auto;
	width: 60px;
    height: 60px;
	padding: 0.6rem;
	z-index: 999;
}

.logo svg {
    fill: $extra-grey;
}

.nav-a {
    color: $white;
	display: block;
	padding: 1rem 0 1rem 0.4rem;
	&:hover {
		color: $grey;
	}
}

.nav-list li {
    border-bottom: 1px solid $light-grey;
    text-transform: uppercase;
	&:first-of-type {
		border-top: 1px solid $light-grey;
	}
}

.left {
    left: 0;
}

@media (min-width: 1000px) {
  	.nav-list {
		width: auto;
		display: flex;
		justify-content: space-between;
		align-items: space-between;
  	}

	.menu-icon {
		display: none;
	}

	.site-nav {
		position: relative;
		align-items: center;
		background-color: none;
		width: auto;
		transition: none;
		border-left: none;
		height: auto;
		left: auto;
		top: auto;
		padding: 0;
		z-index: 0;
	}

	.nav-list li {
		border-bottom: none;
		margin: 0rem 1rem;
		&:first-of-type {
			border-top: none;
		}
	}

	.logo {
		padding: 0;
	}

	.left {
		transition: none;
		left: 0rem;
	}
}