body {
	background-color: lightseagreen;
	overflow: hidden;
}

header {
	position: relative;
	width: 100%;
	background: lightcyan;
}

.flex {
	padding: 1rem 2rem;
	user-select: none;
	border-bottom: 1px solid black;
	display: flex;
	z-index: 1;
	align-items: center;
	overflow: hidden;
}

.site-nav {
	position: absolute;
	width: 10rem;
	transition: right 0.4s ease-in-out;
	z-index: -1;
	height: 100vh;
	border-left: 1px solid;
	background-color: lightblue;
	z-index: -1;
	height: 100vh;
	right: -15rem;
	top: 0;
	padding-top: 93px;
}

.menu-icon {
	width: 60px;
	display: block;
	padding: 0.6rem;
}

.logo {
	margin-right: auto;
	height: 40px;
}

.logo img {
	height: 40px;
}

.right {
	right: 0;
	/* transition: all 0.4s ease-out; */
}

.nav-a {
	color: #525252;
	display: block;
	padding: 1rem 0 1rem 0.4rem;
}

.nav-a:hover {
	color: black;
	background-color: lightcyan;
}

.nav-list li {
	border-bottom: 1px solid black;
}

@media (min-width: 820px) {
  	.nav-list {
		width: auto;
		display: flex;
		justify-content: space-between;
		align-items: space-between;
  	}

	.menu-icon {
		display: none;
	}

	.site-nav {
		position: relative;
		align-items: center;
		background-color: none;
		width: auto;
		transition: none;
		border-left: none;
		background-color: lightcyan;
		height: auto;
		right: auto;
		top: auto;
		padding: 0;
		z-index: 0;
	}

	.nav-list li {
		border-bottom: none;
		margin: 0rem 1rem;
	}

	.right {
		transition: none;
		right: 0rem;
	}
}