.skills {
    width: calc(100% - 4rem);
    margin: 1.5rem auto;
    max-width: 1000px; 
}

@media (min-width: 800px) {
    .skills {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .information,
    // .progress-bars {
    //     width: 48%;
    // }

    .information {
        width: 40%;
    }

    .progress-bars {
        width: 55%;
    }
}